@charset "UTF-8";

/*基本設定*/
html,
body {
    /* ページ全体の高さを指定 */
    height: 100%;
    margin: 0;
    padding: 0;
    /* 横スクロールを無効化 */
    overflow-x: hidden;
    background-color: #e6f1f6;
}

body {
    font-family: sans-serif;
    color: black;
    font-size: 16px;
    width: 100%;
}

/*要素のリセット*/
section,
nav,
header,
main,
footer {
    display: block;
}

h1 {
    font-family: cursive;
    font-weight: normal;
    text-align: center;
    margin-bottom: 0px;
}

ul,
li {
    padding: 0px 20px;
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
}

a:link {
    color: #FFFFFF;
}

a:visited {
    color: #FFFFFF;
}

a:hover {
    color: #F7BE81;
}

.center {
    text-align: center;
}

/*headerの設定*/
header {
    width: 100%;
    padding: 5px;
    text-align: center;
    position: relative;
    background-color: #81BEF7;
}

/*mainの設定*/
main nav ul li {
    padding: 0px 0px 0px 1100px;
    margin-top: 0px;
    margin-bottom: 0px;
}

main a:link {
    color: #81BEF7;
}

main a:visited {
    color: #81BEF7;
}

main a:hover {
    color: #F7BE81;
}

main a {
    padding: 5px;
    border: solid #6E6E6E;
}

input {
    font-size: 16px;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid #100719;
}

table th {
    background-color: #81DAF5;
}

table td {
    background-color: #c6e3ef;
}

/*board.blade.phpのstyle*/
/*検索機能箇所*/
.number_0 {
    background-color: #FFFFFF;
}

.number_1 {
    background-color: #e6f1f6;
    margin-left: 205px;
    width: 700px;
}

/*検索入力フォームの設定*/
.titlesearch {
    border: 1px solid;
    border-color: #6E6E6E;
}

/*エラーメッセージ*/
.number_2 {
    font-size: 16px;
    color: red;
}

/*作成日箇所*/
.number_3 {
    margin-left: 20px;
}

/*作成日(プルダウンメニュー箇所)*/
.number_4 {
    font-size: 16px;
}

/*検索(ヒットしなかった時のメッセージ)*/
.number_5 {
    text-align: center;
}

/*「作成日」箇所*/
.number_6 {
    width: 200px;
}

/*「タイトル名」箇所*/
.number_7 {
    width: 550px;
}

/*「書き込み数」箇所*/
.number_8 {
    width: 110px;
}

/*「作成日」及び「書き込み数」(データ)箇所*/
.number_9 {
    text-align: center;
}

/*「タイトル名」(データ)位置*/
.number_10 {
    padding: 0px 0px 0px 10px;
}

/*「タイトル名」(データ)文字設定*/
main td.number_10 a.number_11 {
    color: black;
    border: none;
}

/*「タイトル名」(データ)ホバー効果設定*/
main td.number_10 a.number_11:hover {
    color: #F7BE81;
}

/* ペジネーション設定(干渉があるため、「!important」を使う) */
.number_12 .pagination {
    /* 横並びにするためflexを強制 */
    display: flex !important;
    justify-content: center;
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
}

.number_12 .pagination li {
    margin: 3px !important;
    padding: 0 !important;
}

.number_12 .pagination a,
.number_12 .pagination span {
    display: inline-flex !important;
    padding: 2px 6px !important;
    background-color: #81BEF7 !important;
    color: #FFFFFF !important;
    border: 1px solid #6E6E6E !important;
    text-decoration: none !important;
    border-radius: 3px !important;
    font-size: 14px !important;
    /* 縦方向の中央揃え */
    align-items: center;
    /* 横方向の中央揃え */
    justify-content: center;
    /* 番号同士の間隔を完全にゼロ */
    margin: 0 !important;
}

/* ペジネーションhover時の背景色 */
.number_12 .pagination a:hover,
.number_12 .pagination span {
    background-color: #F7BE81 !important;
}

.number_12 .pagination .disabled span {
    background-color: #e6e6e6 !important;
    color: #bfbfbf !important;
}

.number_12 .pagination .active a {
    background-color: #F7BE81 !important;
    color: #333333 !important;
}

/*cerate.blade.phpのstyle*/
/*「投稿一覧に戻る」の位置変更(セレクタより再設定とする。)*/
ul#number_13 {
    padding: 0px 0px 0px 1104px;
}

ul#number_13 li {
    padding: 0;
    margin: 0;
}

ul#number_13 a {
    background-color: #FFFFFF;
}

/*「タイトル名」「名前」「投稿内容」エラーの文字設定*/
.number_14 {
    font-size: 16px;
    color: red;
    padding: 0px 0px;
    margin-left: 205px;
}

/*「タイトル名」の文字設定*/
.number_15 {
    font-size: 16px;
    color: black;
    padding: 0px 0px;
    margin: 0px 0px 0px 205px;
    border: none;
}

.number_15 th {
    border: 1px solid;
    border-color: #6E6E6E;
}

/*「タイトル名」の設定*/
.number_16-1 {
    background-color: #e6f1f6;
}

/*「タイトル名」入力フォームの設定*/
.number_16-2 {
    width: 350px;
    border: 1px solid;
    border-color: #6E6E6E;
}

/*「名前」の文字設定*/
.number_17 {
    font-size: 16px;
    color: black;
    padding: 0px 0px;
    margin: 0px 0px 0px 205px;
    border: none;
}

.number_17 th {
    border: 1px solid;
    border-color: #6E6E6E;
}

/*「名前」の設定*/
.number_18-1 {
    background-color: #e6f1f6;
}

/*「名前」入力フォームの設定*/
.number_18-2 {
    width: 450px;
    border: 1px solid;
    border-color: #6E6E6E;
}

/*「投稿内容」の文字設定*/
.number_19 {
    width: 75px;
    font-size: 16px;
    text-align: left;
    color: black;
    padding: 0px 0px 3px 0px;
    margin: 0px 0px 0px 205px;
    border: none;
}

.number_19 th {
    border: 1px solid;
    border-color: #6E6E6E;
}

/*「投稿内容」入力フォームの位置設定*/
.number_20-1 {
    font-size: 16px;
    padding: 0px 0px;
    margin-left: 207px;
}

/*「投稿内容」入力フォーム枠の設定*/
.number_20-2 {
    display: block;
    text-align: left;
    width: 860px;
    height: 210px;
    padding: 0px 5px 0px 5px;
    margin-left: 205;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    border: 1px solid;
    border-color: #6E6E6E;
    resize: none;
}

/*「新規投稿」ボタンの設定*/
.number_21 {
    font-size: 16px;
    color: black;
    padding: 0px 0px;
    margin: 3px 0px 0px 1003px;
}

/*show.blade.phpのstyle*/
/*「投稿内容」の枠設定*/
.number_22 {
    width: 700px;
    height: 200px;
    overflow: auto;
    border: 1px solid #6E6E6E;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    background-color: #FFFFFF;
}

/*「投稿内容」のテーブル設定*/
.number_23 {
    font-size: 16px;
    color: black;
    /* 角を丸くする */
    border-radius: 10px;
    padding: 0px 3px;
    margin: 0;
    border: none;
}

/*「投稿内容」のテーブル内の設定*/
.number_24 {
    padding: 5px;
    border-radius: 10px;
}

/*「投稿内容」入力フォームの位置設定*/
.number_25-1 {
    font-size: 16px;
    padding: 0px 0px;
    margin-left: 207px;
}

/*「投稿内容」入力フォーム枠の設定*/
.number_25-2 {
    display: block;
    text-align: left;
    width: 860px;
    height: 100px;
    padding: 0px 5px 0px 5px;
    margin-left: 205;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    border: 1px solid;
    border-color: #6E6E6E;
    resize: none;
}

/*「投稿内容」送信ボタンの設定*/
.number_26 {
    font-size: 16px;
    color: black;
    padding: 0px 0px;
    margin: 3px 0px 0px 1033px;
}

/*info.blade.phpの設定*/
/*「お問い合わせ内容」の文字設定*/
.number_27 {
    width: 138px;
    font-size: 16px;
    text-align: left;
    color: black;
    padding: 0px 0px 3px 0px;
    margin: 0px 0px 0px 205px;
    border: none;
}

.number_27 th {
    border: 1px solid;
    border-color: #6E6E6E;
}

/*「お問い合わせ」送信ボタンの設定*/
.number_28 {
    font-size: 16px;
    color: black;
    padding: 0px 0px;
    margin: 3px 0px 0px 1031px;
}

/*success.blade.php_h1の設定*/
.number_29 {
    font-family: cursive;
    font-weight: normal;
    text-align: center;
    margin: 150px 0px 30px 0px;
}

/*「投稿一覧に戻る」の位置変更*/
.number_30 {
    padding: 0 560px;
    margin: 0;
}

.number_30 li {
    padding: 0;
    margin: 0;
}

.number_30 a {
    background-color: #FFFFFF;
}

/*footerの設定*/
footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 5px 0;
    margin-top: 0;
    text-align: center;
    background-color: #81BEF7;
}

footer p {
    color: #333333;
}


/* スマホ版設定*/
/* 画面幅が768px以下の場合の設定*/
@media screen and (max-width: 1000px) {

    /*基本設定*/
    html,
    body {
        /* ページ全体の高さを指定 */
        height: 100%;
        margin: 0;
        padding: 0;
        /* 横スクロールを無効化 */
        overflow-x: hidden;
        background-color: #e6f1f6;
    }

    body {
        font-family: sans-serif;
        color: black;
        font-size: 10px;
        width: 100%;
    }

    /*要素のリセット*/
    section,
    nav,
    header,
    main,
    footer {
        display: block;
    }

    h1 {
        font-family: cursive;
        font-weight: normal;
        text-align: center;
        margin-bottom: 0px;
    }

    ul,
    li {
        padding: 0px 20px;
        list-style: none;
        display: inline-block;
    }

    a {
        text-decoration: none;
    }

    a:link {
        color: #FFFFFF;
    }

    a:visited {
        color: #FFFFFF;
    }

    a:hover {
        color: #F7BE81;
    }

    .center {
        text-align: center;
    }

    /*headerの設定*/
    header {
        width: 100%;
        padding: 5px;
        text-align: center;
        position: relative;
        background-color: #81BEF7;
    }

    /*mainの設定*/
    main nav ul li {
        padding: 1px 0px 0px 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    main a:link {
        color: #81BEF7;
    }

    main a:visited {
        color: #81BEF7;
    }

    main a:hover {
        color: #F7BE81;
    }

    main a {
        padding: 5px;
        border: solid #6E6E6E;
    }

    input {
        font-size: 10px;
    }

    table {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        border: solid #100719;
    }

    table th {
        background-color: #81DAF5;
    }

    table td {
        background-color: #c6e3ef;
    }

    /*board.blade.phpのstyle*/
    /*検索機能箇所*/
    .number_0 {
        background-color: #FFFFFF;
    }

    .number_1 {
        background-color: #e6f1f6;
        margin-left: 10px;
        width: 200px;
    }

    /*検索入力フォームの設定*/
    .titlesearch {
        border: 1px solid;
        border-color: #6E6E6E;
    }

    /*エラーメッセージ*/
    .number_2 {
        font-size: 10px;
        color: red;
    }

    /*作成日箇所*/
    .number_3 {
        margin: 50px 0 0 1px;
    }

    /*作成日(プルダウンメニュー箇所)*/
    .number_4 {
        font-size: 10px;
    }

    /*検索(ヒットしなかった時のメッセージ)*/
    .number_5 {
        text-align: center;
    }

    /*「作成日」箇所*/
    .number_6 {
        width: 200px;
    }

    /*「タイトル名」箇所*/
    .number_7 {
        width: 500px;
    }

    /*「書き込み数」箇所*/
    .number_8 {
        width: 150px;
    }

    /*「作成日」及び「書き込み数」(データ)箇所*/
    .number_9 {
        text-align: center;
    }

    /*「タイトル名」(データ)位置*/
    .number_10 {
        padding: 0px 0px 0px 1px;
    }

    /*「タイトル名」(データ)文字設定*/
    main td.number_10 a.number_11 {
        color: black;
        border: none;
    }

    /*「タイトル名」(データ)ホバー効果設定*/
    main td.number_10 a.number_11:hover {
        color: #F7BE81;
    }

    /* ペジネーション設定(干渉があるため、「!important」を使う) */
    .number_12 .pagination {
        /* 横並びにするためflexを強制 */
        display: flex !important;
        justify-content: center;
        list-style: none;
        padding: 0 !important;
        margin: 0 !important;
    }

    .number_12 .pagination li {
        margin: 3px !important;
        padding: 0 !important;
    }

    .number_12 .pagination a,
    .number_12 .pagination span {
        display: inline-flex !important;
        padding: 2px 6px !important;
        background-color: #81BEF7 !important;
        color: #FFFFFF !important;
        border: 1px solid #6E6E6E !important;
        text-decoration: none !important;
        border-radius: 3px !important;
        font-size: 10px !important;
        /* 縦方向の中央揃え */
        align-items: center;
        /* 横方向の中央揃え */
        justify-content: center;
        /* 番号同士の間隔を完全にゼロ */
        margin: 0 !important;
    }

    /* ペジネーションhover時の背景色 */
    .number_12 .pagination a:hover,
    .number_12 .pagination span {
        background-color: #F7BE81 !important;
    }

    .number_12 .pagination .disabled span {
        background-color: #e6e6e6 !important;
        color: #bfbfbf !important;
    }

    .number_12 .pagination .active a {
        background-color: #F7BE81 !important;
        color: #333333 !important;
    }

    /*cerate.blade.phpのstyle*/
    /*「投稿一覧に戻る」の位置変更(セレクタより再設定とする。)*/
    ul#number_13 {
        padding: 2px 0px 0px 0px;
    }

    ul#number_13 li {
        padding: 0;
        margin: 0;
    }

    ul#number_13 a {
        background-color: #FFFFFF;
    }

    /*「タイトル名」「名前」「投稿内容」エラーの文字設定*/
    .number_14 {
        font-size: 10px;
        color: red;
        padding: 0px 0px;
        margin-left: 1px;
    }

    /*「タイトル名」の文字設定*/
    .number_15 {
        font-size: 10px;
        color: black;
        padding: 0px 0px;
        margin: 0px 0px 0px 1px;
        border: none;
    }

    .number_15 th {
        border: 1px solid;
        border-color: #6E6E6E;
    }

    /*「タイトル名」の設定*/
    .number_16-1 {
        background-color: #e6f1f6;
    }

    /*「タイトル名」入力フォームの設定*/
    .number_16-2 {
        width: 200px;
        border: 1px solid;
        border-color: #6E6E6E;
    }

    /*「名前」の文字設定*/
    .number_17 {
        font-size: 10px;
        color: black;
        padding: 0px 0px;
        margin: 0px 0px 0px 1px;
        border: none;
    }

    .number_17 th {
        border: 1px solid;
        border-color: #6E6E6E;
    }

    /*「名前」の設定*/
    .number_18-1 {
        background-color: #e6f1f6;
    }

    /*「名前」入力フォームの設定*/
    .number_18-2 {
        width: 300px;
        border: 1px solid;
        border-color: #6E6E6E;
    }

    /*「投稿内容」の文字設定*/
    .number_19 {
        width: 50px;
        font-size: 10px;
        text-align: left;
        color: black;
        padding: 0px 0px 3px 0px;
        margin: 0px 0px 0px 1px;
        border: none;
    }

    .number_19 th {
        border: 1px solid;
        border-color: #6E6E6E;
    }

    /*「投稿内容」入力フォームの位置設定*/
    .number_20-1 {
        font-size: 10px;
        padding: 0px 0px;
        margin-left: 1px;
        margin-right: 1px;
    }

    /*「投稿内容」入力フォーム枠の設定*/
    .number_20-2 {
        display: block;
        text-align: left;
        width: 340px;
        height: 210px;
        padding: 0px 5px 0px 5px;
        margin-left: 1px;
        margin-right: 1px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 10px;
        border: 1px solid;
        border-color: #6E6E6E;
        resize: none;
    }

    /*「新規投稿」ボタンの設定*/
    .number_21 {
        font-size: 16px;
        color: black;
        padding: 0px 0px;
        margin: 0px 0px 0px 290px;
    }

    /*show.blade.phpのstyle*/
    /*「投稿内容」の枠設定*/
    .number_22 {
        width: 340px;
        height: 100px;
        overflow: auto;
        border: 1px solid #6E6E6E;
        display: block;
        margin-left: 1px;
        margin-right: auto;
        margin-bottom: 5px;
        background-color: #FFFFFF;
    }

    /*「投稿内容」のテーブル設定*/
    .number_23 {
        font-size: 10px;
        color: black;
        /* 角を丸くする */
        border-radius: 10px;
        padding: 0px 3px;
        margin: 0;
        border: none;
    }

    /*「投稿内容」のテーブル内の設定*/
    .number_24 {
        padding: 5px;
        border-radius: 10px;
    }

    /*「投稿内容」入力フォームの位置設定*/
    .number_25-1 {
        font-size: 10px;
        padding: 0px 0px;
        margin-left: 1px;
    }

    /*「投稿内容」入力フォーム枠の設定*/
    .number_25-2 {
        display: block;
        text-align: left;
        width: 340px;
        height: 100px;
        padding: 0px 5px 0px 5px;
        margin-left: 1px;
        margin-right: auto;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 10px;
        border: 1px solid;
        border-color: #6E6E6E;
        resize: none;
    }

    /*「投稿内容」送信ボタンの設定*/
    .number_26 {
        font-size: 16px;
        color: black;
        padding: 0px 0px;
        margin: 3px 0px 0px 305px;
    }

    /*info.blade.phpの設定*/
    /*「お問い合わせ内容」の文字設定*/
    .number_27 {
        width: 88px;
        font-size: 10px;
        text-align: left;
        color: black;
        padding: 0px 0px 3px 0px;
        margin: 1px 0px 0px 0px;
        border: none;
    }

    .number_27 th {
        border: 1px solid;
        border-color: #6E6E6E;
    }

    /*「お問い合わせ」送信ボタンの設定*/
    .number_28 {
        font-size: 16px;
        color: black;
        padding: 0px 0px;
        margin: 3px 0px 0px 305px;
    }

    /*success.blade.php_h1の設定*/
    .number_29 {
        font-family: cursive;
        font-weight: normal;
        text-align: center;
        margin: 150px 0px 30px 0px;
    }

    /*「投稿一覧に戻る」の位置変更*/
    .number_30 {
        padding: 10px 0px 0px 135px;
        margin: 0;
    }

    .number_30 li {
        padding: 0;
        margin: 0;
    }

    .number_30 a {
        background-color: #FFFFFF;
    }

    /*footerの設定*/
    footer {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 5px 0;
        margin-top: 0;
        text-align: center;
        background-color: #81BEF7;
    }

    footer p {
        color: #333333;
    }
}
